body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
    background-color: #ffffff;
}

h1 {
    font-size: 1rem;
    color: #000;
    font-weight: normal;
}

h2 {
    font-size: 1rem;
    color: #000;
    margin-top: 4rem;
    font-weight: normal;
}

p {
    font-size: 1rem;
}